# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Generated output — re-created by train.py
output/features.csv
output/model.pkl
recordings/*
raw-data/*
!raw-data/PRIVACY.md
output/html/*
output/markers/*
